# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment (Poetry manages it separately)
.venv/
.env
# .env.*

# PyCharm
.idea/

# VSCode
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# alembic
alembic/versions/*.pyc
alembic/versions/__pycache__/

# SQLite (если используешь для тестов)
*.db
*.sqlite3

# Logs
*.log

# Docker
*.pid
*.pid.lock
docker-compose.override.yml

# Jupyter
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db